<% include partials/header %>

<header class="jumbotron">
    <div class="jumbotron-overlay">
        <h1>Party Boat Packages</h1>
        <p>BROWSE OUR PARTY PACKAGES AND EVENTS</p>
    </div>
</header>

<div class="container border-gradient">
    <p>
        <a class="btn btn-large btn-dark" href="/new">HOST BOAT PARTY </a>
    </p>
    <hr>
    <h2>Party Boat Rentals</h2>
    <hr>

    <div class="row">
        <% boats.forEach(function(boat){ %>
            <div class="col-md-6 col-sm-12">
                <h4 class="boat-title"><%= boat.name %></h4>
                <img src="<%= boat.image %>" class="boat-images">
                <br>
                <p>
                    <a href="/boats/<%= boat._id %>" class="btn" id="details-button">Details</a>
                </p>
            </div>
   
        <% }); %>
    </div>

    <hr>
    <h2>Hosted Boat Events</h2>
    <hr>
    <div class="row">
        <% newboats.forEach(function(newboat){ %>
            <div class="col-md-6 col-sm-12">
                <h4 class="boat-title"><%= newboat.name %></h4>
                <img src="<%= newboat.image %>" class="boat-images">
                <br>
                <p>
                    <a href="/hostedboats/<%= newboat._id %>" class="btn" id="details-button">Details</a>
                </p>
            
            </div>
        <% }); %>
    </div>
</div>

<% include partials/footer %>