<% include partials/header %>
<header class="jumbotron" id="show-jumbo">
    
    <div class="jumbotron-overlay" id="show-overlay">
        <h1 id="show-jumbo-title"><%=boat.name%></h1>
    </div>
</header>


<div class="container border-gradient boat-container">
    <p>Event: <%=boat.name%></p>
    <div class="row">
        <div class="col-lg-6">
            <img src="<%=boat.image%>" class="boat-info-img">
            <p><%=boat.details%></p>
        </div>
        <div class="col-lg-6">
            <hr>
            <p>COMMENTS</p>
            <hr>
            <div class="comment-div">
                <%boat.comments.forEach(function(comment){ %>
                    <p>
                       <span class="comment-author"><%= comment.author%></span> - <%=comment.text%>
                    </p>
                <% }) %>
            </div>
            <p>
                <a class="btn add-comment-btn" href="/hostedboats/<%= boat._id%>/comments/new">Add Comment</a>
            </p>
        </div>
    </div>
</div>


<% include partials/footer %>