<% include partials/header %>
<header class="jumbotron" id="show-jumbo">
    
    <div class="jumbotron-overlay" id="show-overlay">
        <h1 id="show-jumbo-title"><%= boat.name %></h1>
    </div>
</header>


<div class="container border-gradient boat-container">
        <p>Boat: <%=boat.name%></p>
        <img src="<%=boat.image%>" class="boat-info-img">
        <p><%=boat.details%></p>
        <p>
            <a href="/boats/<%= boat._id%>/comments/new">Add Comment</a>
        </p>
        <hr>
        <p>COMMENTS</p>
        <hr>
        <%boat.comments.forEach(function(comment){ %>
            <p>
                <%= comment.author%> : <%=comment.text%>
            </p>
        <% }) %>
</div>


<% include partials/footer %>